<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> about us </h1>

    <div class="row">

        <div class="video">
            <video src="assets/about-vid.mp4" loop muted autoplay></video>
        </div>

        <div class="content">
            <h3>We will provide you the best work which you dreamt for!</h3>
            <p>Our mission is to surpass client expectations with outstanding results. We are a dedicated team of
                professionals passionate about providing excellent services in interior design and graphic design. We
                prioritize building enduring client relationships through transparency, trust, and mutual respect.
            </p>
            <a href="/abouts" class="btn">read more</a>
        </div>

    </div>

    <div class="box-container">

        <div class="box">
            <h3>0+</h3>
            <p>years of experience</p>
        </div>

        <div class="box">
            <h3>0+</h3>
            <p>project completed</p>
        </div>

        <div class="box">
            <h3>0+</h3>
            <p>satiesfied clients</p>
        </div>

        <div class="box">
            <h3>0+</h3>
            <p>active workers</p>
        </div>

    </div>

</section>

<!-- about section ends -->