<!-- footer section starts  -->

<section class="footer">

    <div class="links">
        <a class="btn" href="/">home</a>
        <a class="btn" href="/">about</a>
        <a class="btn" href="/">services</a>
        <a class="btn" href="/">projects</a>
        <a class="btn" href="/">pricing</a>
        <a class="btn" href="/">contact</a>
        <a class="btn" href="/  ">blogs</a>
    </div>

    <div class="credit"> created by <span>Jay Shree Ram</span> | all rights reserved! </div>

</section>

<!-- footer section ends -->