<!-- header section starts  -->

<header class="header">

    <a href="/" class="logo">
        <img src="assets/client1-modified.jpg" alt="SM Construction & Developer's logo">
        <span>Construction & Developer's</span>
    </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#services">services</a>
        <a href="#projects">projects</a>
        <a href="#pricing">pricing</a>
        <a href="#contact">contact</a>
        {{!-- <a href="#blogs">blogs</a> --}}
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="info-btn" class="fas fa-info-circle"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="https://www.instagram.com/">
            <div id="instagram-btn" class="fab fa-instagram"></div>
        </a>
    </div>


    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>
</header>

<div class="contact-info">
    <div id="close-contact-info" class="fas fa-times"></div>
    <div class="info">
        <i class="fas fa-phone"></i>
        <h3>Phone number</h3>
        <p>Er. Shubam Menkudale: +91 7083700561</p>
        <p>Er. Yuraj Yadav: +91 7083151111</p>
    </div>
    <div class="info">
        <i class="fas fa-envelope"></i>
        <h3>Email address</h3>
        <p>shubhammenkudale@gmail.com</p>
        <p>smcostruction&developers@gmail.com</p>
    </div>
    <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Office address</h3>
        <p>Satara, India - 400104</p>
    </div>
</div>

<!-- header section ends -->