<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper home-slider" autoplay delay="4000">

        <div class="swiper-wrapper">

            <section class="swiper-slide slide" style="background: url(assets/client1.jpg) no-repeat;">
                <div class="content">
                    <h3>we provide best service</h3>
                    <p> Our commitment and expertise bring clients' unique visions to life. Emphasizing collaboration,
                        we work closely with clients to surpass their expectations. By understanding their needs, we
                        deliver a final product that exceeds their original vision.</p>
                    <a href="/connect" class="btn">get started</a>
                </div>
            </section>

            <section class="swiper-slide slide" style="background: url(assets/home-slide-2.jpg) no-repeat;">
                <div class="content">
                    <h3>making dream come to life</h3>
                    <p> "Our construction website brings dreams to life." With a focus on exceptional services, quality
                        workmanship, and attention to detail, we transform clients' visions into reality. Let us turn
                        your dream project into a tangible masterpiece.</p>
                    <a href="/connect" class="btn">get started</a>
                </div>
            </section>

            <section class="swiper-slide slide" style="background: url(assets/home-slide-3.jpg) no-repeat;">
                <div class="content">
                    <h3>from concept to creation</h3>
                    <p>"From concept to creation" symbolizes the entire process of turning an idea into reality in
                        construction. It underscores the significance of thorough planning and diligent effort, from
                        design to completion.</p>
                    <a href="/connect" class="btn">get started</a>
                </div>
            </section>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- home section ends -->