<!-- projects section starts  -->

<section class="projects" id="projects">

    <h1 class="heading"> our projects </h1>

    <div class="box-container">

        <a href="/gallery" class="box">
            <div class="image">
                <img src="assets/project-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>dream home</h3>
                    <p>construction, design</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <a href="/interior" class="box">
            <div class="image">
                <img src="assets/interior1.jpeg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>Interior Design</h3>
                    <p>construction, design</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <a href="assets/project-3.jpg" class="box">
            <div class="image">
                <img src="assets/project-3.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>dream home</h3>
                    <p>construction, design</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

    </div>

</section>

<!-- projects section ends -->