<!-- reviews section starts  -->

<section class="reviews">

    <h1 class="heading"> clients reviews </h1>
    <div class="review-meter">
        <div class="meter-container">
            <div class="meter">
                <span class="stars"></span>
            </div>
        </div>
        <p class="rating"></p>
    </div>
    <div class="swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <p>The team at SM CONSTRUCTION & DEVELOPER'S did an outstanding job on our project. Their attention to
                    detail, professionalism, and communication throughout the process was exceptional. We are extremely
                    happy with the end result and would highly recommend them to anyone looking for quality construction
                    work.</p>
                <div class="user">
                    <img src="assets/Kaustubh.png" alt="">
                    <div class="info">
                        <h3>Kaustubh</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <p>We were impressed with the level of expertise and craftsmanship that SM CONSTRUCTION & DEVELOPER'S
                    brought to our project. They were able to take our vision and turn it into a stunning reality. We
                    appreciated their attention to detail and the care they took in ensuring that every aspect of the
                    project was completed to perfection. We highly recommend their services.</p>
                <div class="user">
                    <img src="assets/Vinayak.jpg" alt="">
                    <div class="info">
                        <h3>Vinayak</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <p>The team at SM CONSTRUCTION & DEVELOPER'S was a pleasure to work with. They were knowledgeable,
                    courteous, and always willing to answer our questions and concerns. We appreciated their
                    transparency and the open lines of communication throughout the project. The end result exceeded our
                    expectations and we would recommend their services to anyone.</p>
                <div class="user">
                    <img src="assets/Anuj.jpeg" alt="">
                    <div class="info">
                        <h3>Anuj mane</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <p>We had a great experience working with SM CONSTRUCTION & DEVELOPER'S. The team was very knowledgeable
                    and courteous, and they always made sure to answer our questions and concerns. We appreciated their
                    transparency and the open lines of communication throughout the project. The end result exceeded our
                    expectations, and we would definitely recommend their services to anyone.</p>
                <div class="user">
                    <img src="assets/Kaustubh.png" alt="">
                    <div class="info">
                        <h3>Kaustubh</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <p>We were very happy with the work that SM CONSTRUCTION & DEVELOPER'S did on our home. The team was
                    professional, knowledgeable, and efficient. They were always willing to answer our questions and
                    concerns, and they went the extra mile to make sure that we were happy with the final product. We
                    would definitely recommend SM CONSTRUCTION & DEVELOPER'S to anyone looking for a quality
                    construction company.</p>
                <div class="user">
                    <img src="assets/Anuj.jpeg" alt="">
                    <div class="info">
                        <h3>Anuj mane</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- reviews section ends -->