<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our services </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/service-1.png" alt="">
            <h3>building construction</h3>
            <p>Providing a range of essential services to clients looking to build or renovate structures. Construction
                services can include design, planning, project management, excavation, construction, and maintenance.
            </p>
        </div>

        <div class="box">
            <img src="assets/service-2.png" alt="">
            <h3>house renovation</h3>
            <p>House renovation, also known as home remodeling or home renovation, House renovation can involve a wide
                range of projects, including kitchen and bathroom upgrades, room additions, flooring, roofing,
                electrical and plumbing upgrades, and more.</p>
        </div>

        <div class="box">
            <img src="assets/service-3.png" alt="">
            <h3>architechture design</h3>
            <p>These services involve the creation of detailed plans, blueprints, and 3D models that guide the
                construction process. The architecture design process takes into account factors such as aesthetics,
                functionality, and sustainability to ensure that each project meets the unique needs of the client.</p>
        </div>

        <div class="box">
            <img src="assets/service-4.png" alt="">
            <h3>material supply</h3>
            <p>This service involves sourcing and delivering materials, such as concrete, steel, plumber, and other
                construction materials, to construction sites on time and on budget.</p>
        </div>

        <div class="box">
            <img src="assets/service-5.png" alt="">
            <h3>construction consultant</h3>
            <p>Construction consultants provide specialized services to clients in the construction industry. They bring
                expertise and knowledge in areas such as project management, design, procurement, and construction
                processes.</p>
        </div>

        <div class="box">
            <img src="assets/service-6.png" alt="">
            <h3>interior design</h3>
            <p>It involves creating a cohesive and harmonious design plan for the interior of a space, taking into
                account factors such as layout, color schemes, lighting, and furniture selection.</p>
        </div>

        <div class="box">
            <img src="assets/service-7.png" alt="">
            <h3>building maintenance</h3>
            <p>This includes regular inspections, cleaning, repairs, and upgrades to the building's systems and
                components such as HVAC, plumbing, electrical, and structural elements.</p>
        </div>

        <div class="box">
            <img src="assets/service-8.png" alt="">
            <h3>building renovation</h3>
            <p>Building renovation involves updating an existing structure to meet the changing needs of its users,
                ranging from minor cosmetic updates to significant structural changes. This may include new finishes,
                improved mechanical systems, and enhanced energy efficiency, among other things.</p>
        </div>

    </div>

</section>

<!-- services section ends -->